body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #2a2a2a, #3c3c3c);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 300;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

canvas {
    background: rgb(251, 222, 226);
    height: 100%;
    flex-direction: column;
}
