body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #2a2a2a, #3c3c3c);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 300;
}

.container {
    max-width: 1500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

canvas {
    background: rgb(251, 222, 226);
    height: 100%;
    flex-direction: column;
    border-radius: 15px;
}

button {
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #66b3ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50px; /* Make buttons squared */
    height: 50px; /* Make buttons squared */
    align-items: center;
}
